.exp{
    background-color: rgb(28, 120, 211);
    border: 4px solid rgb(25, 82, 138);
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
#fortaleza{
    display: flex;
    justify-content: center;
    width: 500px;

}
.intro{
    
}